### while
- it executes block or set of instructions untill the condition is false
- in while we dont have the range
- executes faster than the for loop
- user incrementation

In [ ]:
# syntax
insitilization
while condition:
    statement
    incr/decrement

In [1]:
n=2
while n<=6:
    print("vasavi college")
    n=n+1

vasavi college
vasavi college
vasavi college
vasavi college
vasavi college

In [2]:
n=1
while n<=5:
    print("vasavi college")
    n=n+1

vasavi college
vasavi college
vasavi college
vasavi college
vasavi college

In [3]:
n=10
while n>=1:
    print(n,end=" ")
    n=n-1

10 9 8 7 6 5 4 3 2 1

In [6]:
# input 1234
# output digit count:4
s=int(input())
c=0
while(s!=0): #1234!=0 123!=0 12!=0 1!=0
    c=c+1    #1234%10=4 123%10=3 12%10=2
    s=s//10
print("\nDigit count:",c)

123456

Digit count: 6

In [4]:
# check the given number is palindrome or not
# 121--121
# mom--mom
n=int(input("enter any number"))
temp=n
rev=0
while(n>0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("palindrome")
else:
    print("not a palindrome")

enter any number121
palindrome

In [ ]:
#syntax :: nested for loop
for iter in range(start,end,step):
    for iter in range(range,end,step):
        statement1
        statementn

In [ ]:
#matrix formar
- rows,coloums
- 2dimensions
    1 2 3
    1 2 3

In [14]:
for rows in range(1,5):
    for colums in range(1,5):
        print(rows,end=" ")
    print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [17]:
for rows in range(1,5):
    for colums in range(1,10):
        print("*",end=" ")
    print()

* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *

In [2]:
for row in range(1,6):
    for colum in range(1,row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [3]:
for row in range(6,0,-1):
    for colum in range(1,row+1):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [15]:
for row in range(6,0,-1):
    for colum in range(1,row+1):
        print("*",end=" ")
    print()
for row in range(1,6):
    for colum in range(1,row+1):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *

In [22]:
# 1-10
# prime numbers: 2,3,5,7
st=int(input())
en=int(input())
for num in range(st,en+1):
    c=0
    for var in range(1,num+1): #(1,1)(1,2)(1,3)(1,4)
        if num%var==0:
            c+=1
    if c==2:
        print(num,end=" ")

10
20
11 13 17 19

In [2]:
#print 1 to 10 print
n=1
for k in range(1,11):
    for j in range(1,11):
        print(n,'*',j,'=',n*j)
    print()
    n=n+1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

## Nested while loop

In [ ]:
# nestedwhile
- loop inside another loop

In [ ]:
#syntax
initilization
while condition:
    statements:
    incr/decrement
    while condition:
        statements
        incr/decrement

In [1]:
# 1 to 10 tables by using nested while loop
i=1
while i<=10:
    j=1
    while j<=10:
        print(i,"*",j,"=",i*j)
        j+=1
    print()
    i+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

### Jump Statements
- we called as unconditional jump statements
 - Break
 - Continue
 - Pass

### Break
- terminates the current loop statements
- Break is a keyword

In [5]:
for i in "python":
    if i=='h':
        break
    print(i)

p
y
t

In [10]:
n=1
while i<=10:
    print(i)
    n+=1
    if n==7:
        break

9
9
9
9
9
9

### Continue
- it skips only current itteration and continue the next itteration
- continue aslo a keyword

In [4]:
for i in range(10):
    if i==6:
        continue
        print("fdp")
    print(i)

0
1
2
3
4
5
7
8
9

In [14]:
#print odd number using even number condition
for i in range(10):
    if(i%2==0):
        continue
    print(i,end=" ")

1 3 5 7 9

### Pass
- it is a keyword
- when we need condition scientifically correct need to change another operation
- it is a null operation
- pass statement we use to create empty classes also

In [18]:
s="python"
for i in s:
    if i=='h':
        pass
        print("pass executed")
    print(i)

p
y
t
pass executed
h
o
n

## ***Strings***

- string is a group of character
- we can't change the value in the given string that means "imutable"
- string is a derived data type
- all stringd returns a new values

In [25]:
a="vasavicollege"
print(type(a))

<class 'str'>

In [22]:
print(len(a))

14

In [23]:
print(min(a))
print(max(a))
print(sorted(a))
#print(sum(a))

v
[' ', 'a', 'a', 'c', 'e', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [24]:
s="python"
s1="workshop"
print(s+s1)
print(s,s1)
print(s*s1)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

In [32]:
# slicing syntax::(start:end:step)
# positive indexing(left to right)
# negative indexing(right to left)
s="python workshop"
print(len(s))
print(s[0])
print(s[5])
print(s[14])
print(s[-1])
print(s[-2])
print(s[::])
print(s[0:4])
print(s[5:12])
print(s[-1:-5])

15
p
n
p
p
o
python workshop
pyth
n works