###  inputand output methods  
- reading the data or information from the user is called input syntax input()  
## two types of inputs  
- 1. static input  
- 2.dynamic input
- displaying the data to the user is called the output syntax print()

In [3]:
 a=5
 print(a)

5

- dynamiic input example

In [4]:
a=input()
a

0708

'0708'

In [5]:
a=input("enter a number")
print("a value is",a)

enter a number78
a value is 78

In [7]:
a=float(input("enter float value"))
print("the float value of a is ",a)

enter float value5.34
the float value of a is  5.34

In [8]:
b=8
b=7
print("a value is",a,"b value is ",b)

a value is 5.34 b value is  7

using sep and end keywords we can separate two values  
example:

In [9]:
print(a,b,sep=",",end="%")

5.34,7%

In [10]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

- generate three values from user that seprated with doloor and end with percentage and again print all three values

In [11]:
a=input("enter a value")
b=input("enter b value")
c=input("enter c value")
print(a,b,c,sep="$",end="%")
print(a,b,c)

enter a value4
enter b value5
enter c value8
4$5$8%4 5 8

# OPERATORS
- Arithametic operators(+,-,%,*,**,/,//)
  - output for the normal division is quotient
  - output for the int division or float division is integer part of the quotient
  - output for the modulo division is reminder
- assignment operators(=)
- comparision operators(<,>,<=,>=,==)
- logical operators(and,or,not)
- bitwise operators(&,|,^)
- identity oprators(==),isnot(!=)
- memebership operators(in,notin)

# Arithametic operators

In [12]:
a=56
b=32
print("addation",a+b)
print("subtraction",a-b)
print("multiplication",a*b)
print("power",a**b)
print("division",a/b)
print("int division or float division",a//b)
print("modulo division",a%b)

addation 88
subtraction 24
multiplication 1792
power 87501775260248338795649138639242377629452267851964481536
division 1.75
int division or float division 1
modulo division 24

### Assignment operators

- it represented with=
- leftside value of the operator (=) is called as variable
- rightside value of the variable (=) is called as value

In [5]:
a=20
b=30
print(a)
print(b)

20
30

### comparision operators

In [13]:
25>8
35<98

True

In [16]:
35>7

True

In [17]:
53>7

True

In [47]:
a=5
b=6
c=8
if a>b and a>c:
    print("a is big")
else:
    print("c is big")

c is big

## logical operator

- and,or,not
- if all the inputs are true the output is true(and)
- if any of input is true the output is true(or)
- opposite operation for the given one

In [8]:
2<5 and 3<6

True

In [9]:
2>5 and 3<6

False

In [11]:
3<9 and 4>0

True

In [12]:
4<8 and 5>2

True

In [14]:
5>9 and 8<3

False

In [15]:
a=100
not a

False

# bitwise operator

In [18]:
2 & 3
# 2- 0 0 1 0
# 3- 0 0 1 1
-------------
# - 0 0 1 0

2

In [19]:
3|4

7

In [21]:
2<<3

16

In [22]:
2>>3

0

In [25]:
2<<3

16

# identity operator

In [26]:
a is 100 and a is not 100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Lab\AppData\Local\Temp/ipykernel_3528/1988167162.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a is not 100
C:\Users\Lab\AppData\Local\Temp/ipykernel_3528/1988167162.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 100 and a is not 100

False

In [30]:
a==100 and a!=100

False

## membership operator

In [31]:
s=[1,2,3,4,5,6,7,8,9]
4 in s

True

In [32]:
10 not in s

True

In [34]:
7  not in s

False

In [35]:
a=20
a=a+1
a

21

In [54]:
f=44
a+=1

In [51]:
f

45

# flow controls

- conditional statements(if,else,elif,nestedif)

- loops(for while)
- break,continue

In [58]:
#c-language
#if(condition):{
    #print(a)
#}

# conditional statememts

In [ ]:
# if
if (condition):
    statement1
    statement2
    statement3
    ----------
    statementn

In [ ]:
#if-else
if (condition):
    statement1
    statement2
    statement3
    ----------
    statementn
else:
    statement1
    statement2
    -----------
    statementn

In [ ]:
if 2>3:
        print("true")
        print("false")

In [59]:
if 2>3:
        print("true")
else:
        print("false")

false

In [60]:
# given number is even or odd
n=int(input("enter n number"))
if(n%2==0):
    print("even number")
else:
    print("odd number")

enter n number7
odd number

In [61]:
n=int(input("enter n number"))
if(n%2==0):
    print("even number")
else:
    print("odd number")

enter n number2
even number

In [66]:
#given number is zero or positive or negative
n=n=int(input("enter n number"))
if(n==0):
     print("given number is zero")
elif(n>0):
     print("positive number")
else:
     print("negative number")

enter n number0
given number is zero

In [69]:
n=int(input("enter n number"))
if(n==0):
     print("given number is zero")
elif(n>0):
     print("positive number")
else:
     print("negative number")

enter n number2
positive number

In [68]:
n=int(input("enter n number"))
if(n==0):
     print("given number is zero")
elif(n>0):
     print("positive number")
else:
     print("negative number")

enter n number-1
negative number

In [71]:
#number is divisible by 2 but not divisible by 10
a=2
if a%2 is 0 and a%10 is not 0:
    print("valid number")
else:
    print("invalid number")

valid number

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Lab\AppData\Local\Temp/ipykernel_3528/2344138179.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if a%2 is 0 and a%10 is not 0:
C:\Users\Lab\AppData\Local\Temp/ipykernel_3528/2344138179.py:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if a%2 is 0 and a%10 is not 0:

In [73]:
#number is divisible by 2 but not divisible by 10
a=200
if a%2 is 0 and a%10 is not 0:
    print("valid number")
else:
    print("invalid number")

invalid number

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Lab\AppData\Local\Temp/ipykernel_3528/4126712424.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if a%2 is 0 and a%10 is not 0:
C:\Users\Lab\AppData\Local\Temp/ipykernel_3528/4126712424.py:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if a%2 is 0 and a%10 is not 0:

## range

- syntax for the range is range (start,endvalue,stepvalue)
- starting value is inclusive and end value is exclusive

range(start,end,step)

In [ ]:
range(10,20,1)
# 10,11,12,13,14,15,16,17,18,19
range(20,30,2)
# 20,22,24,26,28
range(20,41,5)
#25,30,35,40
range(50)
# consider as start value
range(20,30)
# consider start value anmd end value
# reverse print
range(10,10,-1)

In [2]:
list(range(10,20,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
list(range(20,30,2))

[20, 22, 24, 26, 28]

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(20,30))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [6]:
range(10,10,-1)

range(10, 10, -1)

#  loops

- for,while
- for loop ::: A for loop in python is a control flow statement that is used to repeatedly execute agroup statements aslong as the condition is satisfied such a type statements is also known an itterative statements 
- therefore..a for loop is an itterative statements

In [ ]:
syntax:::
        for iter in iterable:#range prtedefined function in the position of revolver
                statement1
                statement2
                statementn

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [3]:
for i in range(5):
    print(i,end=" ,")

0 ,1 ,2 ,3 ,4 ,

In [4]:
for i in range(0,10,2):
    print(i,end=" ")

0 2 4 6 8

In [5]:
for i in range(0,11,2):
    print(i,end=" ")

0 2 4 6 8 10

In [7]:
#print the even number in the range of 0 to 100 and print even number count
c=0
for i in range(0,101,2):
    c=c+1
    print(i,end=" ")
print("\neven number count:",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
even number count: 51

In [8]:
c=0
for i in range(0,101,):
    if i%2==0:
        c=c+1
        print(i,end=" ")
print("\neven number count:",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
even number count: 51

In [13]:
#print leap year range of 2000 to 2020, print years count also
x=int(input())
y=int(input())
c=0
for i in range(x,y+1):
    if(i%400==0) and (i%100!=0) or (i%4==0):
        c=c+1
        print(i,end=" ")
print("\nyears count:",c)

2000
2020
2000 2004 2008 2012 2016 2020
years count: 6

In [16]:
#print 5 table by using range
num=5
for i in range(1,11):
    print(num,'x',i,'=',num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [19]:
#factors of 5
num=5
def print_factor(x):
    for i in range(1,x + 1):
        if(x%i==0):
            print(i)
print_factor(num)

1
5

In [22]:
# I/p=abc
# 97+98+97=292
# o/p 292
a=input()
s=10
for i in a:
        s=s+ord(i)
print(s)

abc
304

In [25]:
# I/p=abc
# 97+98+97=292
# o/p 292
a=input()
s=0
for i in a:
    s=s+ord(i)
print(s)

ABC
198

In [30]:
#PRIME NUMBER
n=int(input())
c=0
for i in range(1,1+n):
    if(n%i==0):
        c=c+1
if(c==2):
    print("prime number")
else:
    print("not prime number")

5
prime number

In [47]:
#0-10
#even numbers:
#0dd numbers:
for i in range (0,10):
    if(i%2==0):
        print(i,end=" ")
print("\n")
for i in range (0,10):
    if(i%2!=0):
        print(i,end=" ")

0 2 4 6 8

1 3 5 7 9